<!DOCTYPE html>
<html lang="pt-pt">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/jikulumessu.css">
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css"
    integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300;1,500&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>JIKULUMESSU</title>
</head>
<body>
  <header>
    <a href="#" class="logo">JIKULUMESSU<span>.</span></a>
    <ul class="navigation">
      <li><a href="javascript:scrollToHome()">Início</a></li>
      <li><a href="javascript:scrollToDiferenciais()">Diferenciais</a></li>
      <li><a href="javascript:scrollToSobre()">Sobre</a></li>
      <li><a href="javascript:scrollToContactos()">Contactos</a></li>
      <li><a href="#">Entrar</a></li>
    </ul>
  </header>
  <section class="banner" id="banner">
    <div class="content">
      <h2>Mantenha-te seguro/a.</h2>
      <p>
        Proteja a si e aos seus com o nosso dispositivo que localiza
        pessoas em situações de emergência.
        Saber que os seus entes queridos estão protegidos em caso de emergência proporciona paz de espírito.
      </p>
      <a href="#" class="btn">Pegar Dispositivo</a>
    </div>
  </section>
  <!-----------------------------Diferenciais---------------------------------------->
  <div class="diferenciais">
    <h1 class="titleText" style="text-align: center; margin: auto; ">
      <span>D</span>iferenciais
    </h1>

    <div class=" small-container">
      <div class="row" style="display: flex;">
        <div class="col-3">
          <i class="fa fa-quote-left" aria-hidden="true"></i>
          <h4>Especialistas</h4>
          <p>Lorem ipsum é simplesmente um texto fictício da indústria de impressão e composição.
            Lorem ipsum sempre foi o texto fictício padrão da indústria
          </p>
        </div>
        <div class="col-3">
          <i class="fa fa-quote-left" aria-hidden="true"></i>
          <h4>Atendimento Bilingue</h4>
          <p>Lorem ipsum é simplesmente um texto fictício da indústria de impressão e composição.
            Lorem ipsum sempre foi o texto fictício padrão da indústria
          </p>
        </div>
        <div class="col-3">
          <i class="fa fa-quote-left" aria-hidden="true"></i>
          <h4>Suporte 24/7</h4>
          <p>Lorem ipsum é simplesmente um texto fictício da indústria de impressão e composição.
            Lorem ipsum sempre foi o texto fictício padrão da indústria
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--------------------------------Sobre o Dispositivo---------------------------------------->
  <section class="about" id="about">
    <div class="row" >
      <div class="col50">
        <h2 class="titleText"><span>S</span>obre o Dispositivo</h2>
        <p style="padding-top: 40px;">
          O cinto de geolocalização de emergência é um dispositivo vestível inovador que oferece tranquilidade para você e seus entes queridos. Em caso de emergência, a pessoa que estiver usando o cinto poderá acioná-lo com um simples toque, e a partir desse momento, sua localização será rastreada e enviada por SMS para contatos previamente cadastrados no sistema.
        </p>
      </div>
      <div class="content">
        <div class="box">
          <div class="imgBx">
            <img src="../Assets/img/device.jpeg">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--------------------------------Contactos---------------------------------------->
  <section id="contact">
    <div class="container">
      <h1 class="titleText" style="margin: auto; color: black;"><span>C</span>ontacte-nos.</h1>
      <div class="row" style="display: flex; margin: auto; justify-content: space-between; text-align: center; padding-bottom: 20px;">
        <div class="col-md-6">
          <form action="" class="contact-form">
            <div class="form-group">
              <input type="text" class="from-control" placeholder="Seu Nome" style="width: 393px; height: 49px;">
            </div>
            <br>
            <div class="form-group">
              <input type="number" class="from-control" placeholder="Nº de Telefone" style="width: 393px; height: 49px;">
            </div>
            <br>
            <div class="form-group">
              <input type="email" class="from-control" placeholder="Email" style="width: 393px; height: 49px;">
            </div>
            <br>
            <div class="form-group">
              <textarea name="" id="" cols="30" rows="4" class="form-control" placeholder="Mensagem" style="width: 393px;border:none;"></textarea>
            </div>
            <br>
            <button type="submit" class="btn btn-primary" style="border:none;">Enviar mensagem</button>
          </form>
        </div>
        <div class="col-md-6 contact-info">
          <div class="follow">
            <b>Endereço:</b>
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            Rangel - CTTs, Luanda, Angola
          </div>

          <div class="follow">
            <b>Tel: </b>
            <i class="fa fa-phone" aria-hidden="true"></i>
            +244 947603007
          </div>

          <div class="follow">
            <b>Email: </b>
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            contacto@jikulumessu.com
          </div>
          <div class="follow">
            <label><b>Redes Sociais: </b></label>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--------------------------------Rodapé---------------------------------------->
  <footer class="footer">
    <div class="small-container">
        <div class="row">
            <div class="footer-col-1" style="padding-left: 10px;">
                <h3>Siga-nos nas redes sociais</h3>
                <p>Siga-nos no <a href="">Facebook</a> e no <a href="">Instagram</a> para acompanhar todas as
                    actualizações de perto.</p>
            </div>
            <div class="footer-col-2" style="padding-left: 25px;">
              <a href="#" class="logo">JIKULUMESSU<span>.</span></a>
                <p>Nosso propósito é garantir que o auxilio chegue à pessoa em risco o mais rápido possível.
                O cinto de geolocalização de emergência é a sua garantia de segurança e tranquilidade. Proteja seus entes queridos hoje mesmo!
                </p>
            </div>
            
            <div class="footer-col-4">
                <h3>Follow us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Instagram</li>
                    <li>Twitter</li>
                    <li>YouTube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">&#169 : 2024 JIKULUMESSU. All Rights Reserved</p>
    </div>
  </footer>
  <script src="../Assets/javascript/scroll.js"></script>
</body>
</html>